@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400;1,500&display=swap');

body {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    
}
*{
    max-width: 613px;
    font-family: 'Roboto';
}
header{
    max-width: 613px;
}
.barra-superior{
    background-color: #CF2B2B;
    position: fixed;
    top: 0; 
    left: 0;
    width: 613px;
    height: 70px;
    color: #FFFFFF;
}
.barra-superior h1{
    font-size: 40px;
    padding: 10px 0 0 20px;
}
.barra-superior p{
    padding: 0 0 10px 20px;
}
.righteous{
    font-family: 'Righteous',cursive;
}
 main{
    
    display: block;
    height: auto;
    padding-top: 74px;
    padding-bottom: 80px;
    background-color: #e5e5e5;
}
 main > h5{
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0 10px 20px;
}

.linha-comida{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
    overflow-x: scroll;
    height: auto;
}
.caixa-comida{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    font-size: 10px;
    background-color: #FFFFFF;
    padding:20px;
    border-radius: 8px;
}
.caixa-comida img{
    border-radius: 8px;
}
.caixa-comida h5{
    font-size: 16px;
    padding: 10px 0;
    font-weight: 700;
}
.caixa-comida p{
    font-weight: 300;
    color: #a6a6a6  ;
    font-size: 14px;
}
.caixa-comida h6{
    font-weight: 700;
    padding-top: 10px;
    font-size: 16px;
}

.barra-inferior{
    position: fixed;
    bottom: 0;
    left: 0;
    height:70px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra-inferior div{
    height:70%;
    width:80%;
    background-color: #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    
}